/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* styles */
@tailwind base;
@tailwind components;
@tailwind utilities;  

@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus{
    margin-bottom: 1rem;
    width: 100%;
    border-radius: .25rem;
    border-width: 1.5px;
    background-color: transparent;
    padding: .75rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  html {
    font-family: "Poppins", "sans-serif"
  }

  body {
    background-color: #fdfeff;
    /* hide horizontal scroll bar */
    overflow-x: hidden
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none 
  }
  
  .btn-primary {
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600
  }

  .search-box {
    @apply w-full text-xs bg-transparent py-[11px] outline-none
  }

  .search-icon {
    @apply text-slate-400 cursor-pointer hover:text-black
  }

  .icon-btn{
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary
  }

  .add-container {
    @apply flex flex-col gap-2
  }

  .input-label {
    @apply text-xs text-slate-400
  }
}

@layer utilities {
  
}